$primaryText: #333;
$bgColor: #ff0080;
$shadowGrey: #c0c0c0;
$roominess: 20px;

.Buttons {
  color: $primaryText;
  background-color: $bgColor;
  padding: $roominess;
  margin: $roominess;
  border-radius: 10px;
  width: 200px;
  outline: none;
  font-size: 1.2em;
  text-shadow: 1px 1px $shadowGrey;
}
