.Buttons {
  color: #333;
  background-color: #ff66b2;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 200px;
  outline: none;
  font-size: 1.2em;
  text-shadow: 1px 1px #c0c0c0; }

table {
  margin: 0px auto;
  border-collapse: collapse;
  border: 1px solid #333; }

th, td {
  padding: 20px; }

th {
  height: 30px; }

tr:nth-child(even) {
  background-color: #ff3299; }
