$primaryText: #333;
$bgStripe: #ff3299;
$bgColor: #ff3299;
$shadowGrey: #c0c0c0;
$roominess: 20px;

.Buttons {
  color: $primaryText;
  background-color: $bgColor;
  padding: $roominess;
  margin: $roominess;
  border-radius: 10px;
  width: 200px;
  outline: none;
  font-size: 1.2em;
  text-shadow: 1px 1px $shadowGrey;
}

table {
  margin: 0px auto;
  border-collapse: collapse;
  border: 1px solid $primaryText;
}

th, td {
  padding: 20px;
}

th {
  height: 30px;
}

tr:nth-child(even) {
  background-color: $bgStripe;
}
